<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="bgColor" style="background-color: white;">
        <ion-list id="inbox-list" class="tabBgColor">
          <!-- <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle class="txtColor" auto-hide="false" *ngFor="let p of pages">
            <ion-item class="tabColor" routerDirection="root" [routerLink]="p.url" lines="none" detail="false" [class.active-item]="selectedPath === p.url">
              <ion-icon class="iconColor" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="txtColor">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
  
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
