.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.bgColor {
    background-color: rgb(0, 0, 0);
}

.tabBgColor{
    background-color: rgb(0, 0, 0);
}

.tabColor{
    background-color: rgb(119, 117, 117);
    color: black;
}

.txtColor{
    color:white;
}

.iconColor{
    color: darkgray;
}