<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <h3>Welcome to Ocarina of Time Guide</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header, imgFix">Login Below</h5>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                    
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input #uName type="text" id="username" formControlName="username" class="form-control" />
                            <br>
                            <small class="text-danger imgFix" *ngIf="username.invalid"> Username is required </small>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="password">Password</label>
                                <input #pWord type="password" id="password" formControlName="password" class="form-control" />                    
                                <br>
                                <small class="text-danger imgFix" *ngIf="password.invalid">Password is required</small>
                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mr-1 imgFix">Login</button>
                            <!-- <button (click)='onSubmission(uName.value,pWord.value)'class="btn btn-primary mr-1">something else</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

</ion-content>
